/* Rubik */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  background-color: #fff;
}

.main-container {
  flex-grow: 1;
}

li {
  list-style: none;
}

.visually-hidden {
  visibility: hidden;
}

.nav {
  margin: 0 auto;
}

.nav-list {
  display: flex;
  width: 1075px;
}

.col-1 {
  width: 560px;
}

.nav-user-col-2 {
  display: flex;
}

.nav-user-col-2 li:nth-child(1) {
  width: 245px;
}

.nav-user-col-2 li:nth-child(2) {
  width: 100px;
}

.col-2 {
  display: flex;
}

.col-2 li:nth-child(1) {
  padding-right: 19px;
}

.col-2 li:nth-child(2) {
  padding-right: 62px;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.info-container {
  display: flex;
}

.page-header {
  background-color: #ffe17f;
  width: 1075px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

a {
  text-decoration: none;
  color: #000;
}

address {
  all: initial;
}

.nav-user-item,
.search {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.search {
  opacity: 30%;
}

.nav-item {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

.info-slogan,
.inner-header-title {
  font-family: "Railway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.info-text {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.more {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
  background-color: #ffe17f;
  text-align: center;
}

.text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.parameter {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(68, 68, 68, 1);
}

.products-item-title {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.tabs-nav {
  width: 417px;
}

.tabs-nav-item {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
}

.tabs-background {
  background: no-repeat url("../img/delivery.svg");
}

.subtitle {
  font-family: "Railway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.delivery-promo-title {
  font-family: "Railway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.transports-list-item {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.newsletter {
  background-color: #f0f0f0;
}

.newsletter-button {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
}

.page-footer {
  background-color: rgba(68, 68, 68, 1);
  width: 100%;
  justify-content: center;
}

.footer-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
}

.footer-nav-link {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  opacity: 60%;
}

.catalog-filter-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.catalog-filter {
  background-color: #ebebeb;
}

.catalog-filter-heading {
  font-family: "Railway", sans-serif;
  background-color: #dcdcdc;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
}

.catalog-sorting,
.pagination {
  background-color: #ebebeb;
}

.sorting {
  font-family: "Railway", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
}

.product-card-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.product-card-price {
  color: rgba(68, 68, 68, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.pagination-back,
.pagination-forward {
  font-family: "Railway", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
}

.pagination-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
}

.products-load-more {
  font-family: "Railway", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
}
