* {
  box-sizing: border-box;
}

/* Rubik */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  background-color: #fff;
}

.main-container {
  flex-grow: 1;
}

li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  background-color: #ffe17f;
  width: 1160px;
  height: 300px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;
  margin-top: 40px;
}

.nav-logo {
  display: block;
  margin-top: -23px;
}

a {
  text-decoration: none;
  color: #000;
}

.plus {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../img/plus.svg") no-repeat 50% 50%;
  margin-left: 16px;
}

.nav-list,
.nav-list-catalog {
  display: flex;
  width: 100%;
  padding-left: 0;
  margin-top: 30px;
}

.nav-list-catalog li:not(:last-child) {
  margin-right: 46px;
}

.nav-list-catalog li:nth-child(4) {
  margin-right: auto;
}

.nav-search {
  width: 50%;
  opacity: 30%;
}

.nav-user-item,
.nav-search {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.login::before {
  background-image: url(../img/login.svg);
}

.compare::before {
  background-image: url(../img/compare.svg);
}

.cart::before {
  background-image: url(../img/cart.svg);
}

.nav-list li:nth-child(2) {
  margin-right: auto;
}

.nav-list li:nth-child(3) {
  margin-right: 34px;
}

.nav-item {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

.nav-item-catalog {
  display: flex;
  align-items: center;
}

.nav-catalog {
  width: 50%;
}

.nav-delivery {
  margin-right: 30px;
}

.nav-contacts {
  margin-left: auto;
}

.info {
  margin-bottom: 110px;
  width: 100%;
}

.info-img {
  margin-right: 33px;
}

.info-slogan {
  font-family: "Railway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.info-content {
  padding-left: 0;
}

.info-content-item {
  display: flex;
}

.slider-img {
  margin-top: -160px;
}

.info-content-text {
  margin-top: -88px;
}

.info-text {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 50px;
}

.more {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
  background-color: #ffe17f;
  text-align: center;
}

.info-advantages {
  padding-left: 0;
  display: flex;
  margin-top: 70px;
}

.info-advantages-item {
  width: 160px;
}

.text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(68, 68, 68, 1);
}

.text-first {
  margin-bottom: 42px;
}

.text-second {
  margin-bottom: 76px;
}

.contacts-phone {
  text-decoration: underline;
}

.primary-parameter {
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(0, 0, 0, 1);
}

.secondary-parameter {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(68, 68, 68, 1);
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.products {
  width: 100%;
  margin-bottom: 170px;
}

.products-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.products-list li:not(:last-child) {
  margin-right: 40px;
}

.products-item {
  width: 160px;
}

.products-item-link {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.products-item-img {
  background-color: rgba(255, 225, 127, 1);
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 33px;
}

.tabs {
  background-color: rgba(240, 240, 240, 1);
  margin-bottom: 90px;
  width: 100%;
  padding-bottom: 140px;
}

.tabs .container {
  display: flex;
}

.tabs-nav {
  padding: 0;
  width: 285px;
  display: flex;
  flex-direction: column;
  border-right: 7px solid rgba(0, 0, 0, 1);
}

.tabs-content {
  padding: 0;
  flex-grow: 1;
}

.tabs-img {
  margin-left: 60px;
}

.tabs-content-text {
  max-width: 480px;
}

.tabs-content li {
  margin: -90px 0 0 116px;
}

.tabs-content-item {
  display: flex;
  align-items: center;
}

.tabs-nav-item {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 225, 127, 1);
  text-align: left;
}

.subtitle {
  font-family: "Railway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin-bottom: 40px;
  width: 50%;
}

.delivery-promo {
  width: 100%;
  margin-bottom: 100px;
}

.delivery-promo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Railway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  background-color: rgba(240, 240, 240, 1);
}

.delivery-promo-img {
  display: inline-block;
  background-color: rgba(255, 225, 127, 1);
  width: 125px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 88px;
}

.about,
.contacts {
  width: 100%;
}

.about {
  padding-right: 80px;
}

.contacts {
  padding-right: 60px;
}

.transports-list {
  margin-bottom: 90px;
}

.transports-list li {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.transports-list li::before {
  display: inline-block;
  content: "";
  background-color: rgba(255, 199, 0, 1);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 26px;
}

.transports-list-item {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.transports-list,
.contacts-schedule {
  padding-left: 0;
}

.contacts-schedule {
  margin-bottom: 67px;
}

.newsletter {
  background-color: rgba(240, 240, 240, 1);
  padding-bottom: 130px;
}

.newsletter-container {
  display: flex;
  align-items: center;
  padding-top: 75px;
  margin-bottom: 50px;
}

.newsletter-subtitle {
  width: 50%;
  margin: 0;
}

.newsletter-text {
  width: 50%;
  margin: 0;
}

.newsletter-form {
  display: flex;
  align-items: center;
}

.newsletter-email {
  width: 50%;
}

.input-email {
  width: 100%;
}

.newsletter-button {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
}

.free-text {
  margin-left: auto;
}

.page-footer {
  background-color: rgba(68, 68, 68, 1);
  padding: 62px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  margin-bottom: 35px;
}

.footer-address-nav {
  margin-bottom: 55px;
}

.footer-address-nav,
.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.footer-nav-list li:not(:last-child) {
  margin-right: 10px;
}

.footer-nav-list,
.footer-social-list {
  display: flex;
  padding-left: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-social-list li:not(:last-child) {
  margin-right: 10px;
}

.decor {
  width: 80px;
  height: 7px;
  background-color: rgba(255, 199, 0, 1);
}

.black-line {
  display: inline-block;
  width: 80px;
  height: 7px;
  background-color: rgba(0, 0, 0, 1);
}

.footer-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  width: 300px;
  font-style: normal;
}

.footer-nav-link {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
  color: #fff;
}

.main-catalog {
  margin-top: 37px;
}

.inner-header {
  padding: 0 60px;
  margin-bottom: 50px;
}

.inner-header-title {
  margin-top: 0 0 14px;
}

.breadcrumbs {
  padding-left: 0;
  display: flex;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 36px;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  opacity: 60%;
}

.catalog-content {
  width: 100%;
}

.catalog-content .container {
  display: flex;
}

.catalog-filter-form {
  width: 100%;
}

.catalog-filter-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.catalog-filter {
  width: 328px;
  padding-left: 60px;
  flex-shrink: 0;
}

.catalog-filter-heading {
  margin: 0;
  font-family: "Railway", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
}

.catalog-sorting {
  padding-left: 72px;
}

.product-list {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  justify-items: center;
  padding: 0;
  padding-left: 72px;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

/* .product-list li:nth-child(1),
.product-list li:nth-child(3) {
  margin-right: 40px;
} */

.pagination {
  background-color: #ebebeb;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 77px;
}

.sorting {
  font-family: "Railway", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
}

.product-card-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.product-card-price {
  color: rgba(68, 68, 68, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.pagination-back,
.pagination-forward {
  font-family: "Railway", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
}

.pagination-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
}

.products-load-more {
  font-family: "Railway", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
}
