* {
  box-sizing: border-box;
}

/* Rubik */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  background-color: #fff;
}

.main-container {
  flex-grow: 1;
  margin-top: -88px;
}

li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  background-color: #ffe17f;
  width: 1160px;
  height: 300px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;
  margin-top: 40px;
}

.nav-logo {
  display: block;
  margin-top: -23px;
}

.nav-list {
  display: flex;
  width: 100%;
  padding-left: 0;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: #000;
}

address {
  all: initial;
}

.nav-search {
  width: 50%;
  opacity: 30%;
}

.nav-user-item,
.nav-search {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.nav-list li:nth-child(2) {
  margin-right: auto;
}

.nav-list li:nth-child(3) {
  margin-right: 34px;
}

.nav-item {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

.nav-catalog {
  width: 50%;
}

.nav-delivery {
  margin-right: 30px;
}

.nav-contacts {
  margin-left: auto;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.info-slogan {
  font-family: "Railway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.info-content {
  padding-left: 0;
}

.info-content-item {
  display: flex;
}

.info-content-text {
  margin-left: 40px;
}

.info-text {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}

.more {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
  background-color: #ffe17f;
  text-align: center;
}

.info-advantages {
  padding-left: 0;
  display: flex;
  margin-top: 70px;
}

.info-advantages-item {
  width: 160px;
}

.text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(68, 68, 68, 1);
}

.primary-parameter {
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(0, 0, 0, 1);
}

.secondary-parameter {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(68, 68, 68, 1);
}

.products {
  width: 100%;
  margin-bottom: 140px;
}

.products-list {
  display: flex;
  padding-left: 0;
  margin-top: 110px;
}

.products-list li:not(:last-child) {
  margin-right: 40px;
}

.products-item {
  width: 160px;
}

.products-item-link {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.products-item-img {
  background-color: rgba(255, 225, 127, 1);
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 33px;
}

.tabs {
  display: flex;
  background-color: rgba(240, 240, 240, 1);
  margin-bottom: 90px;
}

.tabs-nav {
  padding-left: 0;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.tabs-content {
  padding-left: 0;
  display: flex;
}

.tabs-content li:first-child {
  max-width: 500px;
  margin: -90px 65px 0 116px;
}

.tabs-nav-item {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
}

.subtitle {
  font-family: "Railway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.delivery-promo {
  width: 100%;
  background-color: rgba(240, 240, 240, 1);
  margin-bottom: 100px;
}

.delivery-promo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Railway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
}

.delivery-promo-img {
  display: inline-block;
  background-color: rgba(255, 225, 127, 1);
  width: 125px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container {
  display: flex;
}

.transports-list li::before {
  content: "• ";
  color: rgba(255, 199, 0, 1);
}

.transports-list-item {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.transports-list,
.contacts-schedule {
  padding-left: 0;
}

.newsletter {
  background-color: rgba(240, 240, 240, 1);
}

.newsletter-container {
  display: flex;
  align-items: center;
}

.newsletter-text {
  max-width: 50%;
}

.newsletter-form {
  display: flex;
}

.newsletter-text {
  margin-left: auto;
}

.newsletter-button {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
}

.page-footer {
  background-color: rgba(68, 68, 68, 1);
}

.footer-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding: 60px 0;
}

.footer-contacts {
  margin-left: auto;
}

.footer-nav-list {
  display: flex;
  padding-left: 0;
}

.footer-nav-list li:not(:last-child) {
  margin-right: 10px;
}

.footer-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
}

.footer-nav-link {
  font-family: "Railway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  opacity: 60%;
}

.catalog-filter-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.catalog-filter {
  background-color: #ebebeb;
}

.catalog-filter-heading {
  font-family: "Railway", sans-serif;
  background-color: #dcdcdc;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
}

.catalog-sorting,
.pagination {
  background-color: #ebebeb;
}

.sorting {
  font-family: "Railway", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
}

.product-card-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.product-card-price {
  color: rgba(68, 68, 68, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.pagination-back,
.pagination-forward {
  font-family: "Railway", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
}

.pagination-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
}

.products-load-more {
  font-family: "Railway", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
}
